# Ignorar dependencias
node_modules/

# Ignorar lockfiles innecesarios (solo si no lo usas)
# package-lock.json

# Archivos de entorno (no subir claves privadas)
.env
.env.local
.env.*.local

# Ignorar configuración del editor JetBrains (WebStorm, IntelliJ, etc.)
.idea/
*.iml

# Archivos de VSCode (opcional)
.vscode/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db